<ion-header>
  <ion-navbar>
    <ion-title>
      align
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div swing-stack #myswing1 [stackConfig]="stackConfig" (throwoutleft)="voteUp(false)" (throwoutright)="voteUp(true)" id="card-stack">
    <ion-card #mycards1 swing-card *ngFor="let c of cards">
      <ion-item>
        <ion-icon *ngIf="!(c.imageUrl && (c.imageUrl != ''))" name="person" item-left></ion-icon>
        <ion-avatar item-left>
          <img *ngIf="c.imageUrl && (c.imageUrl != '')" [src]="c.imageUrl">
        </ion-avatar>
        <h2>{{ c.name }}</h2>
        <p>{{ c.email }}</p>
      </ion-item>

      <ion-card-content id="bio" *ngIf="c.bio">
        {{ c.bio }}
      </ion-card-content>
      <ion-card-content id="skills">
        <p>
          <span *ngFor="let skill of c?.skills">{{ skill }}</span>
        </p>
      </ion-card-content>
    </ion-card>
    <ion-row *ngIf="isLoggedIn() && cards?.length > 0">
      <ion-col>
        <button ion-button clear large icon-left color="danger" (click)="voteUp(false)">
          <ion-icon name="thumbs-down"></ion-icon>
          No
        </button>
      </ion-col>
      <ion-col>
        <button ion-button clear large icon-right color="secondary" (click)="voteUp(true)">
          Yes
          <ion-icon name="thumbs-up"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="!isLoggedIn() && cards?.length > 0">
      <ion-col>
        <button ion-button clear large icon-left color="danger" (click)="promptLogin()">
          <ion-icon name="thumbs-down"></ion-icon>
          No
        </button>
      </ion-col>
      <ion-col>
        <button ion-button clear large icon-right color="secondary" (click)="promptLogin()">
          Yes
          <ion-icon name="thumbs-up"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
    <div *ngIf="isLoggedIn() && cards?.length <= 0" padding text-center>
      <h4>No more users near you ...</h4>
    </div>
    <div *ngIf="!isLoggedIn() && cards?.length <= 0" padding text-center>
      <h4>Log in to match with users.</h4>
    </div>
  </div>
</ion-content>
