<ion-header>
  <ion-navbar>
    <ion-buttons start>
      <button ion-button (click)="sendCancel()">
        Cancel
      </button>
    </ion-buttons>
    <ion-title>Sign Up</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <form [formGroup]="form" (ngSubmit)="signup()">
      <ion-item>
        <ion-thumbnail item-start>
          <img *ngIf="!imageUrl" src="assets/icon/favicon.ico">
          <img *ngIf="imageUrl" [src]="imageUrl">
        </ion-thumbnail>
        <button ion-button type="button" (click)="changeImage()">Upload Profile Image</button>
      </ion-item>
      <ion-item>
        <ion-label floating>Name</ion-label>
        <ion-input formControlName="name" type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label stacked>Bio</ion-label>
        <ion-textarea formControlName="bio" type="text"></ion-textarea>
      </ion-item>
      <ion-item>
        <ion-label stacked>Skills: {{ skills.length }}</ion-label>
        <ion-textarea [(ngModel)]="formSkillList" [ngModelOptions]="{standalone:true}" (ngModelChange)="parseTextArea()"></ion-textarea>
      </ion-item>
      <ion-item>
        <ion-label floating>Email</ion-label>
        <ion-input formControlName="email" type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Password</ion-label>
        <ion-input formControlName="password" type="password"></ion-input>
      </ion-item>
      <ion-item>
        <button type="submit" block ion-button [disabled]="!form.valid">
        Sign Up
        </button>
      </ion-item>
    </form>
  </ion-list>

</ion-content>
