<ion-header>
  <ion-navbar>
    <ion-buttons start>
      <button ion-button (click)="sendCancel()">
        Cancel
      </button>
    </ion-buttons>
    <ion-title>Log In</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <form [formGroup]="form" (ngSubmit)="login()">
      <ion-item>
        <ion-label floating>Email</ion-label>
        <ion-input formControlName="email" type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Password</ion-label>
        <ion-input formControlName="password" type="password"></ion-input>
      </ion-item>
      <ion-item>
        <button ion-button block type="submit" [disabled]="!form.valid">
          Log In
        </button>
        <!--<button type="button" col col-6 ion-button (click)="signup()" [disabled]="!form.valid">-->
          <!--Sign Up-->
        <!--</button>-->
      </ion-item>
    </form>
  </ion-list>

</ion-content>
