<ion-header>
  <ion-navbar>
    <ion-title>
      Contact
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>

    <local-searchbar
      [items]="users | async"
      (itemsFiltered)="onItemsFiltered($event)"
      [fields]=" [ 'name','email' ] ">
    </local-searchbar>
    <button text-wrap ion-item *ngFor="let user of filteredUsers" detail-none>
      <a (click)="presentProfileModal(user.uid)">
        <ion-icon *ngIf="!(user.imageUrl && ((user).imageUrl != ''))" name="person" item-left></ion-icon>
      </a>
      <ion-avatar *ngIf="user.imageUrl && ((user).imageUrl != '')" item-start>
        <a (click)="presentProfileModal(user.uid)">
          <img [src]="user.imageUrl">
        </a>
      </ion-avatar>
      <h2>{{ user.name }}</h2>
      <p>{{ user.skills.join(", ") }}</p>
      <!--<button ion-button item-end icon-only clear>-->
        <!--<ion-icon name="close-circle-outline"></ion-icon>-->
      <!--</button>-->
      <button ion-button item-end icon-only clear color="secondary"
              *ngIf="user?.matches[currentUserSnap.uid]?.likes && currentUserSnap.matches[user.uid]?.likes">
        <ion-icon name="checkmark-circle"></ion-icon>
      </button>
    </button>
  </ion-list>
</ion-content>
