<ion-header>
  <ion-navbar>
    <ion-buttons start>
      <button *ngIf="isLoggedIn()" ion-button icon-only (click)="shareProfile()">
        <ion-icon name="share"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Profile</ion-title>
    <ion-buttons end>
      <button *ngIf="isLoggedIn()" ion-button icon-only (click)="logOut()">
        <ion-icon name="log-out" color="danger"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <div *ngIf="!isLoggedIn()" padding>
    <h4>You are not Logged In ...</h4>
    <button ion-button block outline (click)="presentLoginModal()">
      Have an account? Log In.
    </button>
    <button ion-button block outline (click)="presentSignUpModal()">
      Need an account? Sign Up!
    </button>
  </div>
  <div *ngIf="isLoggedIn()">
    <ion-list>
      <button ion-item (click)="changeImage()" detail-none>
        <ion-icon *ngIf="!((userRef | async)?.imageUrl && ((userRef | async)?.imageUrl != ''))" name="person" item-left></ion-icon>
        <ion-avatar *ngIf="(userRef | async)?.imageUrl && ((userRef | async)?.imageUrl != '')" item-start>
          <img [src]="(userRef | async)?.imageUrl">
        </ion-avatar>
        <h2>{{ (userRef | async)?.name }}</h2>
        <p>{{ (userRef | async)?.email }}</p>
      </button>
      <ion-item>
        <ion-label stacked>Name</ion-label>
        <ion-input type="text" [ngModel]='(userRef | async)?.name' (ngModelChange)="userRef.update({name: $event})"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label stacked>Bio</ion-label>
        <ion-textarea type="text" [ngModel]='(userRef | async)?.bio' (ngModelChange)="userRef.update({bio: $event})"></ion-textarea>
      </ion-item>
      <ion-item>
        <ion-label stacked>Skills: {{ (userRef | async)?.skills?.length }}</ion-label>
        <ion-textarea [ngModel]='(userRef | async)?.skills.join(", ")' (ngModelChange)="parseTextArea($event)"></ion-textarea>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
