// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$dark: #222;
$primary: #ffc107;
$light: #f4f4f4;

$colors: (
  primary:    $primary,
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      $light,
  dark:       $dark
);
body {
  font-family: "Roboto", "Helvetica Neue", sans-serif;
  h1,h2,h3,h4,h5,h6{
    font-weight: 200;
  }
}


div.scroll-content {
  background-color: $dark;
  color: #ddd;
  .item.item-block.item-ios {
    background-color: lighten($dark, 2%);
    color: #ddd;
  }
  .card.card-ios, .searchbar-ios {
    background-color: lighten($dark, 5%);
    color: #ddd;
  }

  .list-ios .item-block .item-inner,.list-ios > .item-block:last-child, .list-ios > .item-wrapper:last-child .item-block {
    border-color: rgba(#ffc107,0.1);
  }

  .text-input.text-input-ios {
    color: darken($light, 50%);
  }
}
.toolbar-background.toolbar-background-ios {
  background-color: darken($dark, 10%);
  color: #dddddd;
}
.toolbar-title.toolbar-title-ios {
  color: #dddddd;
  font-weight: 200;
}

.tabs-ios .tabbar.show-tabbar {
  background-color: darken($dark, 10%);
}



// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
